html {
	font-size: 16px;
}

body {
	background-color: #D6DEDE;
}

h1, h2, h3, th, small {
	color: #5F3735;
}

h1 {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	text-align: center;
	background-color: #A5B9B9;
	font-weight: 500;
}

h3 {width: 80%;}

h2, h3 {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	text-align: center;
}

h2 {
	padding-top: 20px;
}

h5 {
  margin-right: 10%;
}

table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

footer {
	text-align: center;
	background-color: #A5B9B9;
	padding: 20px 0px;
	font-weight: 400;
	margin-top: 20px;
}

footer a {
	display: block;
}

small {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-style: italic;
	float: right;
	background-color: #A5B9B9;
	padding-right: 10px;
}

nav {
	text-align: right;
	text-shadow: -.5px .5px 0 #000;
	font-size: .8em;
}

nav a {
	margin-right: 20px;
}

 figure {
	display: block;
	text-align: center;
 	background-color: inherit;

}

.yearcol {
	width: 10%;
	text-align: center;
}

.companycol {
	width: 20%;
}

.titlecol {
	width: 20%;
}

.dutiescol {
	width: 40%;
}

.jobsep {
    border-bottom: 1px solid black;
}

.degreecol {
	width: 20%;
}

.schoolcol {
	width: 30%;
}

.studycol {
	width: 50%;
}

.center {
	text-align:center;
}

img.horizctr {
	padding-top: 10px;
}

figure img.widepic {
	width: 320px;
	height: 244px;
}

figure img.diagramSize {
  margin: 0 auto;
  background-color: inherit;
}

.carousel-item figure{
  background-color: inherit;
}

figure img.normalpic {
	max-height: 50%;
  max-width: 50%;
  margin: 0px auto;
}

figure img.longpic {
  max-width: 50%;
  max-height: 28rem;
  margin: 0px auto;
 }

.carousel-item2 {
  max-height: 100%;
  max-width: 100%;
}

p, tr, figcaption{
	color: #2C4444;
}

p, table {
	font-family: 'IBM Plex Sans', Verdana, Arial, sans-serif;
	font-weight: 500;
}

figcaption {
	font-family: 'Oswald', Verdana, Arial, sans-serif;
	font-weight: 400;
  text-shadow: -.5px .5px 0 #000;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

figure img {
	padding-top: 0px;
	border: .1em solid darkgray;
	border-radius: 5px;
}

a {
	font-family: 'Oswald', Verdana, Arial, sans-serif;
	text-decoration: none;
}

a:link {
	color: #5F3735;
}

a:visited {
	color: #2C4444;
}

a:hover {
	color: #D47969;
	font-size: 1.5em;
}

#h1background {
	background-color: #A5B9B9;
	margin-bottom: 20px;
	padding-top: 20px;
}

header {
	background-color: #A5B9B9;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bannerImg {
	width: 125px;
	height: 120px;
	float: left;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 40px;
	border-radius: 10px;
	background-color: #A5B9B9;

}

.imagecolumn {
	margin: 10px auto;
  padding-top: 20px;
  background-color: inherit;
}

.headerText {
	float: right;
	width: 80%;
	margin-right: 20px;
}

.carousel-control-prev, .carousel-control-next {
 display: block;
 margin-top: 5rem;
}

#emphist, #diagrams {
	background-color: #C7D8C6;
}

#education {
	background-color: #EFD9C1;
}

#education:hover {
	background-color: #F2BB66;
}

#emphist:hover {
	background-color: #57BC90;
  }

 #projects {
	  background-color: #A9B7C0;
 }

figure img:hover, figure img.round:hover {
 border: .3em solid #FFFF99;
}

figure img.round {
  border: none;
 }

.div2 {
  margin: auto;
  padding: 0;
  background-color: inherit;
}

  div.projectsect {
  height: 50rem;
 	width: 50rem;
	margin: 0px auto;

}

.introsect:hover {
	background-color: #ECC5C0;
}

.introsect {
	background-color: #CCC8C6;
	height: 200px;
}

.toTop {
	text-align: center;
}

.toTop:link {
	color: black;
}

.clearfloat {clear: both;}

.conclusion {
	clear: left;
	width: 90%;
	max-width: 90%;
	margin: 0px auto;
	padding: 20px;
}

.noborder {
	border: none;
}

.extrapadding {
	padding-bottom: 50px;
}

.inheritBack {
  background-color: inherit;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C7D8C6;
}
